*.iml
.gradle
/local.properties

# TG: the .idea/ folder is still tracked for some reason.
# I was going to ignore it, but it looks like it's already ignored.
# We shouldn't have to ignore individual files since the entire folder
# should be ignored.
.idea/
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
# grade stuff #
.gradle/
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties